
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>deep dark fantasy</title>
    <link rel="stylesheet" href="{% static 'css/test.css'%}">
</head>
<body>
<div>
    <p>원기사퇴기원</p>
<a class='test' href="post/new/">후방주의!</a>
</div>
<div>
    <form>
        <input type="text", placeholder="신중하게 쓰시오">
         <button type="submit">후방주의!</button>
    </form>
</div>
<div>
    <ul>
        <li id="song">송희자</li>
        <li>박준상</li>
        <li>이주성</li>
    </ul>
    <ol>
        <li>이승찬</li>
        <li>채은도</li>
        <li>강대현</li>
    </ol>
</div>
</body>
</html>